<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script>
        var csrftoken = "{{ csrf_token }}";

        function csrfSafeMethod(method) {
            return (/^(GET|POST|DELETE|UPDATE|PUT|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>
    <link rel="stylesheet" href="/static/assets/css/pure-min.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">
</head>
<body>
<div class="header">
    <header>
        <h1>Заказы</h1>
    </header>
    <nav>
        <a href="{% url 'index-page' %}">Главная</a> |
        {% block nav %}
            <a href="{% url 'orders-page' %}">Личный кабинет</a>
        {% endblock %}

    </nav>
</div>
<div class="container">
{% block content %}{% endblock %}
</div>
{% block js_footer %}{% endblock %}
</body>
</html>